body{
    font-family: Quicksand;
 }
 #title, #description{
     text-align: center;
 }
 #description{
     font-weight: 800;
 }

 
 
#tooltip{
    background-color: rgb(34, 33, 33);
    color: white;
    padding: 5px;
    border-radius: 10px;
    
}