body{
    font-family: Quicksand;
 }

 .year-axis, .month-axis{
     font-size: 150%;
     
 }
 #title{
     margin-left: 35%;
 }
 #description{
    margin-left: 45%;
}
#tooltip{
    background-color: rgb(34, 33, 33);
    color: white;
    padding: 10px;
    font-size: 130%;
}